<%= form_with(model: palindrome) do |form| %>
  <% if palindrome.errors.any? %>
    <div id="error_explanation">
      <h2>Пожалуйста, исправьте следующие ошибки ввода:</h2>

      <ul>
        <% palindrome.errors[:input].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group d-flex">
    <div class="field">
      <%= form.text_field :input, type: 'text', placeholder: 'Введите n:', class: 'form-control' %>
    </div>
    <div class="action">
      <%= form.submit 'Найти', type: 'submit', class: 'btn btn-primary btn' %>
    </div>
  </div>
  
<% end %>
