<h1>Palindromes</h1>
<p style="font-size: 16px">Введите n для поиска неотрицательных целых чисел, квадраты которых являются палиндромами. Например: 26^2 = 676.</p><br/>

<%= render 'form', palindrome: @palindrome %><br/>

<%= link_to 'Вернуться на главную', palindromes_path, class: 'btn btn-light btn-sm' %>
