<h1>Palindromes</h1>
<p>Введите n для поиска неотрицательных целых чисел, квадраты которых являются палиндромами. Например: 26^2 = 676.

<%= render 'form', palindrome: @palindrome %>

<%= link_to 'Вернуться', palindromes_path, class: 'btn btn-link btn-sm' %>
