<p id="notice"><%= notice %></p>

<h1>Результаты вычислений</h1>

<p>
  <strong>Введено: </strong>
  <%= @palindrome.input %>
</p>

<p>
  <strong>Результат:</strong>
  <%= @palindrome.output %>
</p>

<%= link_to 'Back', palindromes_path %>
